body{
    font-family: "Times New Roman", Times, serif;
}

textarea{
    font-family: "Times New Roman", Times, serif;
}

#app{
    display: grid;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
}

.holder{
 
}

.entry{
    /* border: 1px solid red; */
}

#entryHolder{

}

#date{

}

#temp{

}

#content{

}

.headline {
    text-align: center;
    font-size: 48px;
    letter-spacing: -3.75px;
    font-weight: normal;
    margin-top: 30px;
}
.title{

}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}

button{
    background-color: white;
    border-radius: 3px;
    border: 1px solid black;
    font-family: "Times New Roman", Times, serif;
    font-size: 21px;
    letter-spacing: -0.84px;
    width: 150px;
    height: 50px;
}
button:hover{
    font-style: italic;
    color: #a1a1a1;
}

h1{
    font-size: 36px;
}

textarea{
    font-size: 20px;

}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    color: #a1a1a1

}